<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui,
        viewport-fit=cover" />
    <title>react</title>
    <style><%- cssStatic -%></style>
</head>
<body>
    <div id="app"><%- content -%></div>
</body>
<script>
</script>
<script src="/client/bundle.js"></script>
<script>
    window.stateContext = {
        state : <%- state -%>
    }
</script>
</html>